<!DOCTYPE html>
<html lang="en">
<head>
    <title>bootstrap-table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <!-- 引入bootstrap样式 -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- 引入bootstrap-table样式 -->
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <!-- 菜单栏的css，注意：这个可能会覆盖掉一些标签字体的颜色-->
    <link rel="stylesheet" href="/css/style.css">
    <!-- jquery -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>

    <!-- 导入该页面的js-->
    <script src="/js/UserTablePlus1.js" charset="UTF-8"></script>

</head>

<body>

<!-- 导航栏 -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button class="btn btn-primary" type="button" onclick="window.location.href='http://localhost:8083/'" style="margin-top: 8px" >
                Peko Station <span class="badge">1.0</span>
            </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"></a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true">&ensp;</span>Peko<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">个人信息</a></li>
                        <li><a href="#">Another action</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">帮助</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<!-- 顶头壁纸 -->
<div class="col-md-offset-1 col-md-10">
    <div class="jumbotron" style="height: 163px; margin-top: -19px;background-image: url(/img/bilibili.webp)">
    </div>
</div>

<!-- 侧边菜单栏 -->
<div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
        <ul class="nav sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    Bootstrap 3
                </a>
            </li>
            <li>
                <a href="#" id="toHomePage"><span class="glyphicon glyphicon-home">&ensp;</span> Home</a>
            </li>
            <li>
                <a href="#" id="toUserTablePage"><span class="glyphicon glyphicon-user">&ensp;</span> Users</a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                    <li class="dropdown-header">Dropdown heading</li>
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <button type="button" class="hamburger is-closed animated fadeInLeft" data-toggle="offcanvas" style="margin-top: 43px">
            <span class="hamb-top"></span>
            <span class="hamb-middle"></span>
            <span class="hamb-bottom"></span>
        </button>
        <div class="container">
            <div class="row">

            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- 主体 -->
<div class="col-md-offset-1 col-md-10" id="principalPart" style="margin-top: -30px">
</div>

<!-- 修改-模态框（Modal） -->
<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    修改信息
                </h4>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" class="active col-md-4" id="li1_update" style="background: #67bbff"><a href="#basicMsg" rel="external nofollow" data-toggle="tab">基本信息</a></li>
                <li role="presentation" class="col-md-4" id="li2_update" style="background: #67bbff"><a href="#userImg" rel="external nofollow" data-toggle="tab">用户图片</a></li>
            </ul>
            <form>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="basicMsg">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_update">用户ID</label>
                                <input type="text" id="id_update" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name_update">用户姓名</label>
                                <input type="text" id="name_update" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone_update">用户号码</label>
                                <input type="text" id="phone_update" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="box">权限</label>
                                <div id="box" style="height:37px;width:47%;border: 1px #cbc9c9 solid;border-radius:4px;">
                                    &nbsp;
                                    <input type="checkbox" name="identify" id="admin_box" value="admin" style="height:12px;width:12px;margin-top: 10px"> <span class="label label-info" style="font-size: 16px">管理者</span>
                                    &nbsp;
                                    <input type="checkbox" name="identify" id="user_box" value="user" style="height:12px;width:12px;margin-top: 10px"> <span class="label label-success" style="font-size: 16px">普通用户</span>
                                </div>

                            </div>
                        </div>
                        <input type="text" id="img_text_update" class="hide">
                    </div>
                    <div class="tab-pane fade" id="userImg">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                        <img id="img_update_show" src="" style="weight:300px;height:300px"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="imageShow_update">
                                        <img id="img_update" src="" style="weight:300px;height:300px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col-md-8 col-md-offset-2">
                                    <div>
                                        <button id="selectImg_update" type="button" class="btn btn-success"></button>
                                        <input id="imagePic_update" name="imagePic" type="file"
                                               accept=".bmp,.jpg,.png,.jpeg,image/bmp,image/jpg,image/png,image/jpeg" style="display:none" />
                                    </div>
                                    <div class="fontTip">
                                        限上传不超过10M的bmp,jpg,png,jpeg格式的图片
                                    </div>
                                    <button id="uploadButton_update" type="button" onclick="uploadImgUpdate()" class="btn btn-success" style="margin-top: 10px">上传</button>
                                    <h6 id="update_text">--</h6>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
                <input type="reset" name="reset" style="display: none;" />
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="updateMsgAjax()">
                    提交更改
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->


<!-- 删除-模态框（Modal） -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    删除确认
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_del">用户ID</label>
                        <input type="text" id="id_del" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name_del">用户姓名</label>
                        <input type="text" id="name_del" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="phone_del">用户号码</label>
                        <input type="text" id="phone_del" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer" >
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" onclick="deleteMsgAjax()">
                    确认删除
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->


<!-- 添加-模态框（Modal） -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    添加用户
                </h4>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" class="active col-md-4" id="li1_add" style="background: #67bbff"><a href="#basicMsg_add" rel="external nofollow" data-toggle="tab">基本信息</a></li>
                <li role="presentation" class="col-md-4" id="li2_add" style="background: #67bbff"><a href="#userImg_add" rel="external nofollow" data-toggle="tab">用户图片</a></li>
            </ul>

            <div class="modal-body">
                <form>
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="basicMsg_add">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_add">用户ID</label>
                                <input type="text" id="id_add" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_add">用户密码</label>
                                <input type="text" id="password_add" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name_add">用户姓名</label>
                                <input type="text" id="name_add" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone_add">用户号码</label>
                                <input type="text" id="phone_add" class="form-control">
                            </div>
                        </div>
                        <input type="text" id="img_add" class="hide">
                    </div>
                    <div class="tab-pane fade" id="userImg_add">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="imageShow">
                                    <img id="img_add_show" src="" style="weight:300px;height:300px"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-8 col-md-offset-2">
                                <div>
                                    <button id="selectImg" type="button" class="btn btn-success"></button>
                                    <input id="imagePic" name="imagePic" type="file"
                                           accept=".bmp,.jpg,.png,.jpeg,image/bmp,image/jpg,image/png,image/jpeg" style="display:none" />
                                </div>
                                <div class="fontTip">
                                    限上传不超过10M的bmp,jpg,png,jpeg格式的图片
                                </div>
                                <button id="uploadButton" type="button" onclick="uploadImg()" class="btn btn-success" style="margin-top: 10px">上传</button>
                                <h6 id="add_text">--</h6>
                            </div>
                        </div>
                    </div>
                </div>
                    <input type="reset" name="reset" style="display: none;" />
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" onclick="addMsgAjax()">
                    确认添加
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

<!-- 查看-模态框（Modal） -->
<div class="modal fade " id="myModalRead" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    查看用户
                </h4>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" class="active col-md-4" style="background: #67bbff"><a href="#basicMsg_read" rel="external nofollow" data-toggle="tab">基本信息</a></li>
                <li role="presentation" class="col-md-4" style="background: #67bbff"><a href="#userImg_read" rel="external nofollow" data-toggle="tab">用户图片</a></li>
            </ul>
                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="basicMsg_read">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_add">用户ID</label>
                                    <input type="text" id="id_read" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name_read">用户姓名</label>
                                    <input type="text" id="name_read" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="phone_read">用户号码</label>
                                    <input type="text" id="phone_read" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="box1">权限</label>
                                    <div id="box1" style="height:37px;width:47%;border: 1px #cbc9c9 solid;border-radius:4px;">
                                        <div style="margin-top: 8px">
                                        &nbsp;
                                        <span id = "iden_adm_read" class="label label-info" style="font-size: 16px">管理者</span>
                                        &nbsp;
                                        <span id = "iden_user_read" class="label label-success" style="font-size: 16px">普通用户</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="userImg_read">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                        <img id="img_read_show" src="" style="weight:300px;height:300px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

</body>
</html>