<!DOCTYPE html>
<html lang="en">
<head>
    <title>bootstrap-table</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />


    <!-- 引入bootstrap样式 -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <!-- 引入bootstrap-table样式 -->
    <link href="/css/bootstrap-table.css" rel="stylesheet">
    <!-- jquery -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!-- bootstrap-table.min.js -->
    <script src="/js/bootstrap-table.js"></script>
    <!-- 引入中文语言包 -->
    <script src="/js/bootstrap-table-zh-CN.js"></script>

</head>
<script>

    var btnUploadText = '选择图片';
    $(document).ready(function () {
        $("#selectImg").text(btnUploadText)
        $(".imageShow").hide()
        $('#selectImg').click(function () {
            $('#imagePic').click();
        });
        $("#imagePic").on("change", function (e) {
            var file = e.target.files[0]; //获取图片资源
            var fileTypes = ["bmp", "jpg", "png", "jpeg"];
            var bTypeMatch = false
            for (var i = 0; i < fileTypes.length; i++) {
                var start = file.name.lastIndexOf(".");
                var fileType = file.name.substring(start + 1);
                if (fileType.toLowerCase() == fileTypes[i]) {
                    bTypeMatch = true;
                    break;
                }
            }
            if (bTypeMatch) {
                if (file.size <= 1024 * 1024 * 10) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file); // 读取文件
                    // 渲染文件
                    reader.onload = function (arg) {
                        $(".imageShow").show()
                        $("#img_add_show").attr("src", arg.target.result)
                        btnUploadText = '重新上传'
                        $("#selectImg").text(btnUploadText)
                    }
                } else {
                    alert('仅支持不超过10M的图片');
                    emptyImageUpload("#imagePic")
                    $("#img_add_show").attr("src", "")
                    $(".imageShow").hide()
                    btnUploadText = '上传'
                    $("#selectImg").text(btnUploadText)
                    return false;
                }
            } else {
                alert('仅限bmp，jpg，png，jpeg图片格式');
                emptyImageUpload("#imagePic")
                $("#img_add_show").attr("src", "")
                $(".imageShow").hide()
                btnUploadText = '上传'
                $("#selectImg").text(btnUploadText)
                return false;
            }
        });


        //修改信息栏图片上传
        $("#selectImg_update").text(btnUploadText)
        $(".imageShow_update").hide()
        $('#selectImg_update').click(function () {
            $('#imagePic_update').click();
        });
        $("#imagePic_update").on("change", function (e) {
            var file = e.target.files[0]; //获取图片资源
            var fileTypes = ["bmp", "jpg", "png", "jpeg"];
            var bTypeMatch = false
            for (var i = 0; i < fileTypes.length; i++) {
                var start = file.name.lastIndexOf(".");
                var fileType = file.name.substring(start + 1);
                if (fileType.toLowerCase() == fileTypes[i]) {
                    bTypeMatch = true;
                    break;
                }
            }
            if (bTypeMatch) {
                if (file.size <= 1024 * 1024 * 10) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file); // 读取文件
                    // 渲染文件
                    reader.onload = function (arg) {
                        $(".imageShow_update").show()
                        $("#img_update").attr("src", arg.target.result)
                        btnUploadText = '重新上传'
                        $("#selectImg_update").text(btnUploadText)
                    }
                } else {
                    alert('仅支持不超过10M的图片');
                    emptyImageUpload("#imagePic_update")
                    $("#img_update").attr("src", "")
                    $(".imageShow_update").hide()
                    btnUploadText = '上传'
                    $("#selectImg_update").text(btnUploadText)
                    return false;
                }
            } else {
                alert('仅限bmp，jpg，png，jpeg图片格式');
                emptyImageUpload("#imagePic_update")
                $("#img_update").attr("src", "")
                $(".imageShow_update").hide()
                btnUploadText = '上传'
                $("#selectImg_update").text(btnUploadText)
                return false;
            }
        });

    })

    //清空上传图片信息
    function emptyImageUpload(selector) {
        var fi;
        var sourceParent;
        if (selector) {
            fi = $(selector);
            sourceParent = fi.parent();
        } else {
            return;
        }
        $("<form id='tempImgForm'></form>").appendTo(document.body);

        var tempImgForm = $("#tempImgForm");
        tempImgForm.append(fi);
        tempImgForm.get(0).reset();
        sourceParent.append(fi);
        tempImgForm.remove();
    }

    //上传照片
    function uploadImg() {
        if($("#imagePic").val() != "") {
            //创建FormData对象
            var formData = new FormData();
            formData.append('photo', document.getElementById('imagePic').files[0]);
            $.ajax({
                type: "POST",
                url:"http://localhost:8080/uploadPhoto",//后台接口
                dataType: "json",
                data:formData,
                fileElementId:"file",  // 文件的id
                async: true, // 使用同步操作
                contentType:false,        /*不可缺*/
                processData: false,         /*不可缺*/
                success: function(data,status,xhr){
                    console.log("返回信息:"+data.msg+" "+data.filepath+data.filename);
                    $("#img_add").attr("value",data.filename);
                    console.log("返回码："+data.status+" code:"+data.code+" status:"+status+" xhr:"+xhr.status)
                    if(xhr.status === 200) {
                        alert("上传成功:"+xhr.status+" OK");
                        $("#add_text").text("上传成功"+xhr.status);
                    }
                },
                error: function (d,status,xhr) {
                    console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    alert("上传失败："+d.status);
                    $("#add_text").text("上传失败"+xhr.status);
                },
            });
        } else {
            alert("请先选择文件");
        }
    }

    //修改信息栏的上传照片
    function uploadImgUpdate() {
        if($("#imagePic_update").val() != "") {
            //创建FormData对象
            var formData = new FormData();
            formData.append('photo', document.getElementById('imagePic_update').files[0]);
            $.ajax({
                type: "POST",
                url:"http://localhost:8080/uploadPhoto",//后台接口
                dataType: "json",
                data:formData,
                fileElementId:"file",  // 文件的id
                async: true, // 使用同步操作
                contentType:false,        /*不可缺*/
                processData: false,         /*不可缺*/
                success: function(data,status,xhr){
                    console.log("返回信息:"+data.msg+" "+data.filepath+data.filename);
                    console.log("返回码："+data.status+" code:"+data.code+" status:"+status+" xhr:"+xhr.status)
                    $("#img_text_update").attr("value",data.filename);
                    if(xhr.status === 200) {
                        alert("上传成功:"+xhr.status+" OK");
                        $("#update_text").text("上传成功"+xhr.status);
                    }
                },
                error: function (d,status,xhr) {
                    console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    alert("上传失败："+d.status);
                    $("#update_text").text("上传失败"+d.status);
                },
            });
        } else {
            alert("请先选择文件");
        }
    }

    //修改信息
    function updateMsg() {
        var rows = $("#teacher_table").bootstrapTable('getSelections');
        if (rows.length < 1) {
            alert("请选择一条数据");
            return false;
        }
        var rowItem = rows[0];
            $('#myModalUpdate').modal();

            console.log(rowItem.id + rowItem.name + rowItem.phone);
            $('#id_update').attr("value",rowItem.id);
            $('#name_update').attr("value",rowItem.name);
            $('#phone_update').attr("value",rowItem.phone);
            var filePath = "http://localhost:8080/downloadPhoto/"+rowItem.user_img;
            $('#img_update_show').attr("src",filePath);
            console.log(filePath)

    }

    //修改提交的信息
    function updateMsgAjax() {
        var data = {};
        data["id"] = $('#id_update').val();
        data["name"] = $('#name_update').val();
        data["phone"] = $('#phone_update').val();
        data["user_img"] = $('#img_text_update').val();
        $.ajax({
            type: "POST",
            url:"http://10.3.2.29:8080/table/edit",//后台接口
            dataType: "json",
            contentType:"application/json",
            data:JSON.stringify(data),
            success: function(data,status,xhr){
                console.log("返回码："+data.status+" code:"+data.code+" status:"+status+" xhr:"+xhr.status)
                if(data.status === 200) {
                    initMsg();
                    alert("修改成功:"+xhr.status+" OK");
                }
            },
            error: function (d,status,xhr) {
                if(d.status === 200) {
                    alert("修改成功:"+d.status+" OK");
                    console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    initMsg();
                }else{
                    console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    alert("修改失败："+d.status);
                }
            },
        });
    }

    //还原数据
    function initMsg() {
        $('#myModalUpdate').modal('hide');
        $('#myModalDelete').modal('hide');
        $('#myModalAdd').modal('hide');
        $('#teacher_table').bootstrapTable('refresh');
        $("input[type=reset]").trigger("click");
        $("#selectImg").text("选择图片");
        $("#img_add_show").attr("src","");
        $("#add_text").text("--");
        $("#basicMsg").attr("class","tab-pane fade in active");
        $("#basicMsg_add").attr("class","tab-pane fade in active");
        $("#userImg_add").attr("class","tab-pane fade");
        $("#img_update").attr("src","");
        $("#update_text").text("--");
        $("#userImg").attr("class","tab-pane" );
        $("#li1_add").attr("class","active col-md-4");
        $("#li2_add").attr("class","col-md-4");
        $("#li1_update").attr("class","active col-md-4");
        $("#li2_update").attr("class","col-md-4");
    }

    //删除数据
    function deleteMsg() {
        var rows = $("#teacher_table").bootstrapTable('getSelections');
        if (rows.length < 1) {
            alert("请选择一条数据");
            return false;
        }
        var rowItem = rows[0];
            $('#myModalDelete').modal();
            console.log(rowItem.id + rowItem.name + rowItem.phone);
            $('#id_del').attr("value",rowItem.id);
            $('#name_del').attr("value",rowItem.name);
            $('#phone_del').attr("value",rowItem.phone);


    }

    //执行删除数据
    function deleteMsgAjax() {
        var data = {};
        data["id"] =  $('#id_del').val();

        $.ajax({
            type: "POST",
            url:"http://10.3.2.29:8080/table/delete",//后台接口
            dataType: "json",
            contentType:"application/json",
            data:JSON.stringify(data),
            success: function(data,status,xhr){
                console.log("返回码："+data.status+" code:"+data.code+" status:"+status+" xhr:"+xhr.status)
                if(data.status === 200) {
                    initMsg();
                    alert("删除成功:"+xhr.status+" OK");
                }
            },
            error: function (d,status,xhr) {
                if(d.status === 200) {
                    alert("删除成功:"+d.status+" OK");
                    console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    initMsg();
                }else{
                    console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    alert("删除失败："+d.status);
                }
            },
        });
    }

    //添加数据
    function addMsg(){
        $('#myModalAdd').modal('show');
    }

    //执行添加数据
    function addMsgAjax(){

        var id = $('#id_add').val();
        var name = $('#name_add').val();
        var phone = $('#phone_add').val();
        var img = $('#img_add').val();

        if(id === ''|| name === ''|| phone === ''){
            alert("请填完整信息！");
        }else{
            var data = {};
            data["id"] =  id;
            data["name"] =  name;
            data["phone"] =  phone;
            data["user_img"] =  img;
            $.ajax({
                type: "POST",
                url:"http://10.3.2.29:8080/table/add",//后台接口
                dataType: "json",
                contentType:"application/json",
                data:JSON.stringify(data),
                success: function(data,status,xhr){
                    console.log("返回码："+data.status+" code:"+data.code+" status:"+status+" xhr:"+xhr.status)
                    if(data.returnCode === "CODE5001") {
                        alert(data.returnMsg);
                    }else if(data.returnCode === "CODE6000"){
                        alert(data.returnMsg);
                    }
                    initMsg();
                },
                error: function (d,status,xhr) {
                    if(d.status === 200) {
                        alert("添加成功:"+d.status+" OK");
                        console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                        initMsg();
                    }else{
                        console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                        alert("添加失败："+d.status);
                    }
                },
            });
        }
    }

    //查询数据
    function queMsg(){
        var id = $('#id_que').val();
        var name = $('#name_que').val();
        var phone = $('#phone_que').val();
        var img = $('#date_que').val();
        var date = $('#date_que').val();
        date = date.replace(/-/g,"");
        var status = $('#status_que').val();

        //如果什么也没有填，则查询到所有数据
        if(id === ''&& name === ''&& phone === ''){
            $('#teacher_table').bootstrapTable('refreshOptions',{url:"http://10.3.2.29:8080/table/all"});
        }else {
            var data = {};
            data["id"] =  id;
            data["name"] =  name;
            data["phone"] =  phone;

            $.ajax({
                type: "POST",
                url:"http://10.3.2.29:8080/table/query",//后台接口
                dataType: "json",
                contentType:"application/json",
                data:JSON.stringify(data),
                success: function(data,status,xhr){
                    console.log(data)
                    $('#teacher_table').bootstrapTable('refreshOptions',{url:null,data:data});  //查询数据，刷新表格
                    console.log("返回码："+data.status+" code:"+data.code+" status:"+status+" xhr:"+xhr.status)
                },
                error: function (d,status,xhr) {
                    if(d.status === 200) {
                        console.log(data)
                        $('#teacher_table').bootstrapTable({data:data});
                        console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    }else{
                        console.log("返回码："+d.status+" code:"+d.code+" status:"+status+" xhr:"+xhr.status)
                    }
                },
            });
        }

    }

    //查看数据
    function readMsg(){
        var rows = $("#teacher_table").bootstrapTable('getSelections');
        if (rows.length < 1) {
            alert("请选择一条数据");
            return false;
        }
        var rowItem = rows[0];
        $('#myModalRead').modal();

        console.log(rowItem.id + rowItem.name + rowItem.phone);
        $('#id_read').attr("value",rowItem.id);
        $('#name_read').attr("value",rowItem.name);
        $('#phone_read').attr("value",rowItem.phone);
        var filePath = "http://localhost:8080/downloadPhoto/"+rowItem.user_img;
        $('#img_read_show').attr("src",filePath);
        console.log(filePath)
    }


</script>

<body>
<div class="col-md-offset-2 col-md-10">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">用户信息查询</h3>
        </div>
        <form class="form-horizontal">
            <div class="panel-body">

                    <div class="form-group">
                        <label for="id_que" class="col-md-1 control-label">ID</label>
                        <div class="col-md-3">
                            <input type="text" id="id_que" class="form-control" >
                        </div>

                        <label for="name_que" class="col-md-1 control-label">姓名</label>
                        <div class="col-md-3">
                            <input type="text" id="name_que" class="form-control">
                        </div>

                        <label for="phone_que" class="col-md-1 control-label">手机</label>
                        <div class="col-md-3">
                            <input type="text" id="phone_que" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="status_que" class="col-md-1 control-label">用户状态</label>
                        <div class="col-md-3">
                                <select id="status_que" class="form-control">
                                    <option>...</option>
                                    <option value="ONLINE">在线</option>  //value是指提交出去的值
                                    <option value="OFFLINE">离线</option>
                                </select>
                        </div>

                        <label for="date_que" class="col-md-1 control-label">日期</label>
                        <div class="col-md-3">
                            <input type="date" id="date_que" class="form-control" >
                        </div>
                    </div>

                <div class="form-group" style="float: right;margin-right:30px">
                    <button type="button" class="btn btn-info" onclick="queMsg()">查询</button>
                    <button type="reset" class="btn btn-info">重置</button>
                </div>
            </div>
        </form>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title text-center">用户信息</h3>
        </div>
        <div class="panel-body">
            <div id="toolbar" class="btn-group">
                <button id="btn_read" type="button" class="btn btn-info " data-toggle="modal" onclick="readMsg();">
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>查看
                </button>
                <button id="btn_add" type="button" class="btn btn-success " data-toggle="modal" onclick="addMsg();">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加
                </button>
                <button id="btn_edit" type="button" class="btn btn-warning " data-toggle="modal" onclick="updateMsg();">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>修改
                </button>
                <button id="btn_delete" type="button" class="btn btn-danger" data-toggle="modal"  onclick="deleteMsg()">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>删除
                </button>
            </div>
            <table id="teacher_table" data-toggle="table"
                   data-method="post"
                   data-url="http://10.3.2.29:8080/table/all"
                   data-query-params="queryParams"
                   data-toolbar="#toolbar"
                   data-pagination="true"
                   data-search="false"
                   data-show-refresh="true"
                   data-show-toggle="true"
                   data-show-columns="true"
                   data-page-size="5">
                <thead>
                <tr>
                    <th data-field="state" data-radio="true"></th>
                    <th data-field="id">用户ID</th>
                    <th data-field="name">名字</th>
                    <th data-field="phone">电话</th>
                    <th data-field="user_img">图片名称</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModalUpdate" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    修改信息
                </h4>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" class="active col-md-4" id="li1_update"><a href="#basicMsg" rel="external nofollow" data-toggle="tab">基本信息</a></li>
                <li role="presentation" class="col-md-4" id="li2_update"><a href="#userImg" rel="external nofollow" data-toggle="tab">用户图片</a></li>
            </ul>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="basicMsg">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_update">用户ID</label>
                                <input type="text" id="id_update" class="form-control" disabled>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name_update">用户姓名</label>
                                <input type="text" id="name_update" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone_update">用户号码</label>
                                <input type="text" id="phone_update" class="form-control">
                            </div>
                        </div>
                        <input type="text" id="img_text_update" class="hide">
                    </div>
                    <div class="tab-pane fade" id="userImg">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                        <img id="img_update_show" src="" style="weight:300px;height:300px"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="imageShow_update">
                                        <img id="img_update" src="" style="weight:300px;height:300px"/>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 10px">
                                <div class="col-md-8 col-md-offset-2">
                                    <div>
                                        <button id="selectImg_update" type="button" class="btn btn-success"></button>
                                        <input id="imagePic_update" name="imagePic" type="file"
                                               accept=".bmp,.jpg,.png,.jpeg,image/bmp,image/jpg,image/png,image/jpeg" style="display:none" />
                                    </div>
                                    <div class="fontTip">
                                        限上传不超过10M的bmp,jpg,png,jpeg格式的图片
                                    </div>
                                    <button id="uploadButton_update" type="button" onclick="uploadImgUpdate()" class="btn btn-success" style="margin-top: 10px">上传</button>
                                    <h6 id="update_text">--</h6>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                </button>
                <button type="button" class="btn btn-primary" onclick="updateMsgAjax()">
                    提交更改
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModalDelete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    删除确认
                </h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="id_del">用户ID</label>
                        <input type="text" id="id_del" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name_del">用户姓名</label>
                        <input type="text" id="name_del" class="form-control" disabled>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="phone_del">用户号码</label>
                        <input type="text" id="phone_del" class="form-control" disabled>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" onclick="deleteMsgAjax()">
                    确认删除
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->


<!-- 模态框（Modal） -->
<div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    添加用户
                </h4>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" class="active col-md-4" id="li1_add"><a href="#basicMsg_add" rel="external nofollow" data-toggle="tab">基本信息</a></li>
                <li role="presentation" class="col-md-4" id="li2_add"><a href="#userImg_add" rel="external nofollow" data-toggle="tab">用户图片</a></li>
            </ul>
            <form>
            <div class="modal-body">
                <div class="tab-content">
                    <div class="tab-pane fade in active" id="basicMsg_add">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="id_add">用户ID</label>
                                <input type="text" id="id_add" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="name_add">用户姓名</label>
                                <input type="text" id="name_add" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="phone_add">用户号码</label>
                                <input type="text" id="phone_add" class="form-control">
                            </div>
                        </div>
                        <input type="text" id="img_add" class="hide">
                    </div>
                    <div class="tab-pane fade" id="userImg_add">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <div class="imageShow">
                                    <img id="img_add_show" src="" style="weight:300px;height:300px"/>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 10px">
                            <div class="col-md-8 col-md-offset-2">
                                <div>
                                    <button id="selectImg" type="button" class="btn btn-success"></button>
                                    <input id="imagePic" name="imagePic" type="file"
                                           accept=".bmp,.jpg,.png,.jpeg,image/bmp,image/jpg,image/png,image/jpeg" style="display:none" />
                                </div>
                                <div class="fontTip">
                                    限上传不超过10M的bmp,jpg,png,jpeg格式的图片
                                </div>
                                <button id="uploadButton" type="button" onclick="uploadImg()" class="btn btn-success" style="margin-top: 10px">上传</button>
                                <h6 id="add_text">--</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <input type="reset" name="reset" style="display: none;" />
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消
                </button>
                <button type="button" class="btn btn-primary" onclick="addMsgAjax()">
                    确认添加
                </button>
            </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

<!-- 模态框（Modal） -->
<div class="modal fade " id="myModalRead" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    查看用户
                </h4>
            </div>
            <ul class="nav nav-pills">
                <li role="presentation" class="active col-md-4"><a href="#basicMsg_read" rel="external nofollow" data-toggle="tab">基本信息</a></li>
                <li role="presentation" class="col-md-4"><a href="#userImg_read" rel="external nofollow" data-toggle="tab">用户图片</a></li>
            </ul>
                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="basicMsg_read">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="id_add">用户ID</label>
                                    <input type="text" id="id_read" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="name_read">用户姓名</label>
                                    <input type="text" id="name_read" class="form-control" disabled>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="phone_read">用户号码</label>
                                    <input type="text" id="phone_read" class="form-control" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="userImg_read">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                        <img id="img_read_show" src="" style="weight:300px;height:300px"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->

</body>
</html>